<article{{ attributes }}>
  <div class="b-w-label block-title">
		Venue Profile
	</div><br>
  
  <div class="title-box block-title">
        {{ node.field_featured_carousel_venue.entity.title.value}}
  </div>
  
  <div id="Venue-wrapper" class="address">
    {{ node.field_featured_carousel_venue.entity.field_venue_address.value }}<br>{{ node.field_featured_carousel_venue.entity.field_city.entity.name.value }},
    {{ node.field_featured_carousel_venue.entity.field_venue_state.value }} {{ node.field_featured_carousel_venue.entity.field_zip_code.value }}<br>
  </div>
    
  {% set imageCount = 0 %}
  {% for image in node.field_featured_carousel_venue.entity.field_venue_exterior_photos %}
    {% if image.entity.field_venue_exterior_photos.entity.uri.value != '' %}
      {% set imageCount = imageCount + 1 %}
    {% endif %}
  {% endfor %}
	<br>
  {% if imageCount %}
    <div class="venue-cover-image">
      <img src="{{ file_url(node.field_featured_carousel_venue.entity.field_venue_exterior_photos.entity.field_image.entity.uri.value) }}" class="img-fluid">
    </div>
  {% endif %}
      
  <br>
  
  <div class="contact-info">
    {{ node.field_featured_carousel_venue.entity.field_venue_number.value|raw }}
  </div>
  {% if node.field_featured_carousel_venue.entity.field_website.uri|length %}
    <a href="{{ node.field_featured_carousel_venue.entity.field_website.uri }}" target="_blank" class="contact-info">
      {{ node.field_featured_carousel_venue.entity.field_website.title }}
    </a>
  {% endif %}
  
  <br>
  
  <div class="description">
    {{ node.field_featured_carousel_venue.entity.field_venue_description.value }}
  </div>
  
  {% if node.field_featured_carousel_venue.entity.field_venue_cover_photo %}
    <img src="{{ file_url(node.field_featured_carousel_venue.entity.field_venue_cover_photo.entity.uri.value) }}" class="img-fluid">
  {% endif %}
  
	{% if imageCount > 1 %}
	  {% set loopMax = imageCount -1 %}
	{% for i in 1..loopMax %}
		<img src="{{ file_url(node.field_featured_carousel_venue.entity.field_venue_exterior_photos[i].entity.uri.value) }}" class="img-fluid">
	{% endfor %}
	{% endif %}
  
  
  {% set imageCount = 0 %}
	{% for image in node.field_featured_carousel_venue.entity.field_venue_interior_photos %}
    {% set imageCount = imageCount + 1 %}
  {% endfor %}
  
  {% if imageCount %}
	  {% set loopMax = imageCount -1 %}
		{% for i in 0..loopMax %}
      <p>
		    <img src="{{ file_url(node.field_featured_carousel_venue.entity.field_venue_interior_photos[i].entity.uri.value)}}" class="img-fluid">
      </p>
		{% endfor %}
	{% endif %}
</article>