{%
  set classes = [
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <script>
    function clickEventDiv(div) {
      div.style.backgroundColor = "#dedede";
    }
  </script>
  {% set realRows = rows[0]["#rows"] %}
  {% set totalArticleNumber = 0 %}
  {% set articleArray = [] %}
  {% set myFeatured = 0 %}
  <div id="Mobile-front-page-local-events-body" class="mobile-front-page-local-events-body">
    {% for rowKey, row in realRows %}
	  {% set anEntity = row["#row"]._entity %}
      <a class="events-temlpate-link" href="/node/{{ anEntity.id }}" rel="bookmark">
        <div class="event-listing" onclick="clickEventDiv(this)">
          <div class="event-listing-date-box-container">
            <div class="event-listing-date-box">
              <div class="event-listing-date">
                {{ anEntity.field_date_of_event.0.value|date("d") }}<br>
                {{ anEntity.field_date_of_event.0.value|date("M") }}
              </div>
            </div>
          </div>
          <div class="event-listing-basic float-left">
            <div class="event-listing-title">
              {{ anEntity.title.value }}
            </div>
          </div>
          <div class="event-listing-info float-right">
            {{ anEntity.field_venue.entity.title.value }}<br><br>
            {{ anEntity.field_venue.entity.field_city.entity.name.value }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</article>
<script>
  var i;
  var eventBigBoxes = document.getElementsByClassName("event-listing");
  for (i=0; i<eventBigBoxes.length; i++) {
    var oldDivHeight = eventBigBoxes[i].offsetHeight;
    var newHeight = oldDivHeight;
    eventBigBoxes[i].style.height = newHeight + "px";
  }
  var basicBoxes = document.getElementsByClassName("event-listing-basic");
  var parentBoxes = new Array();
  for (i=0; i<basicBoxes.length; i++) {
    parentBoxes[i] = basicBoxes[i].parentElement;
  }
  for (i=0; i<basicBoxes.length; i++) {
    var divHeight = parentBoxes[i].offsetHeight - 10;
    basicBoxes[i].style.height = divHeight + "px";
  }
</script>
