{%
  set classes = [
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {% set realRows = rows[0]["#rows"] %}
  {% set totalArticleNumber = 0 %}
  {% set articleArray = [] %}
  {% set myFeatured = 0 %}
  {% for rowKey, row in realRows %}
    {% set anEntity = row["#row"]._entity %}
    {% set rowNumber = rowNumber + 1 %}
	{% if anEntity.bundle() == 'featured_article_container' %}
	  {% if anEntity.field_section.value == 'general' %}
	    {% set myFeatured = anEntity %}
	  {% endif %}
	{% elseif anEntity.bundle() == 'sundial_article' %}
	  {% set articleArray = articleArray|merge([anEntity]) %}
	  {% set totalArticleNumber = totalArticleNumber + 1 %}
	{% endif %}
  {% endfor %}
  {% set currentTopArticleIndex = 1 %}
  {% set displayArticleArray = [] %}
  {% for article in articleArray %}
    {% if article.id != myFeatured.field_article.entity.id %}
      {% set displayArticleArray = displayArticleArray|merge([article]) %}
	{% endif %}
  {% endfor %}
  {% for i in 0..5 %}
  <div class="border-bottom pb-2 mb-2">
    <div class="heading-style-1">
      <a href="/node/{{ displayArticleArray[i].id }}" hreflang="en">{{ displayArticleArray[i].title.value }}</a>
	</div>
	<div class="byline text-sm mb-1 pb-0 text-muted small">by
	  <span class="author">{{ displayArticleArray[i].field_author.entity.title.value }}</span>
	</div>
	<p class="summary">
	  {% set text = displayArticleArray[i].body.value|render|striptags %}
	  {{ text|length >= 68 ? text|slice(0, 65) ~ '...' : text }}
	</p>
	<div class="small">
	  {{ displayArticleArray[i].field_date_filed.0.value|date('D, d M Y') }}
	</div>
  </div>
  {% endfor %}
</article>
